.footer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  gap: 20px;
}

.footer-item {
  display: inline-block;
  margin: 30px;
}

.footer-item__link {
  display: block;
  text-decoration: none;
  color: #094b88;
  padding-bottom: 10px;
}
