.form {
  background-color: #094b88;
  color: white;
  text-align: center;
  margin: 50px 0 20px 0;
  height: 280px;
}
.form__title {
  padding-top: 60px;
}
.form__description {
  padding: 25px 0;
}
.form__input {
  padding-left: 10px;
  width: 340px;
  height: 55px;
  border: none;
  border-radius: 5px;
}
.form__button {
  background-color: #1c7ed6;
  color: #fff;
  height: 55px;
  width: 80px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.form__button:hover {
  background-color: #339af0;
}
