.header {
  color: white;
  background-color: #094b88;
  position: relative;
  height: 290px;
}
.header__title {
  margin-left: 95px;
  padding-top: 20px;
}
.header__title-description {
  padding: 30px 0;
}
.header__title-button {
  background-color: #4088cc;
  color: white;
  border: none;
  width: 160px;
  height: 45px;
  font-size: 16px;
  cursor: pointer;
}
.header__form {
  display: flex;
  align-items: center;
  background-color: white;
  color: gray;
  border: 3px solid;
  border-color: #fab005;
  border-radius: 3px;
  width: 86%;
  height: 60px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 70px;
}
.header__form-location {
  margin-left: 50px;
}
.header__input-location {
  border: none;
  height: 20px;
  padding-left: 10px;
}
.header__form-date {
  margin-left: 130px;
}
.header__input-date {
  border: none;
  width: 105px;
  font-size: 16px;
  padding-left: 10px;
}
.header__form-info {
  margin-left: 90px;
}
.header__input-info {
  font-size: 16px;
  height: 20px;
  width: 40px;
  border: none;
  padding-left: 10px;
}
.header__form-button {
  background-color: #1c7ed6;
  color: white;
  border: none;
  margin-left: 90px;
  width: 70px;
  height: 40px;
  cursor: pointer;
}
.header__form-button:hover,
.header__title-button:hover {
  background-color: #339af0;
}
