.search {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 320px 880px;
  gap: 20px;
  justify-content: center;
}
.search-list {
  display: grid;
  grid-template-columns: 30% 48% 22%;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}
.search-list__name {
  color: #094b88;
  margin-bottom: 10px;
}
.search-list__tag {
  background-color: green;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.search-list__distance {
  margin-bottom: 10px;
}
.search-list__description {
  font-weight: bold;
  margin: 10px 0;
}
.search-list__free_cancel.true {
  color: green;
  margin: 10px 0;
}
.search-list__free_cancel.false {
  display: none;
}
.search-list__button {
  background-color: #1c7ed6;
  color: white;
  border: none;
  float: right;
  width: 190px;
  height: 45px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
}
.search-list__button:hover {
  background-color: #339af0;
}
.search-list__rate-number {
  float: right;
  background-color: #094b88;
  color: white;
  padding: 5px;
}
.search-list__price {
  float: right;
  font-size: 24px;
}
.search-list__detail {
  float: right;
  font-size: 14px;
  margin: 10px 0;
}
.search-list__rate {
  margin-bottom: 100px;
}
